[submodule "txt2tw"]
	path = txt2tw
	url = https://api.mtr.pub/oflg/txt2tw.git
[submodule "plugins/oflg/fishing"]
	path = plugins/oflg/fishing
	url = https://api.mtr.pub/oflg/fishing.git
[submodule "plugins/oflg/fishing-analysis"]
	path = plugins/oflg/fishing-analysis
	url = https://api.mtr.pub/oflg/fishing-analysis.git
[submodule "plugins/oflg/fishing-catchfish"]
	path = plugins/oflg/fishing-catchfish
	url = https://api.mtr.pub/oflg/fishing-catchfish.git
[submodule "plugins/oflg/fishing-twpub"]
	path = plugins/oflg/fishing-twpub
	url = https://api.mtr.pub/oflg/fishing-twpub.git
